{% extends 'dashboard/bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <p>
            <a href="{% url 'index' %}">home</a>
			<a href="{% url 'mobile_sessions' %}">mobile sessions</a>
			<a href="{% url 'data_values' %}">data values</a>
			<a href="{% url 'data_averages' %}">data averages</a>
        </p>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
