{% extends 'dashboard/bootstrap.html' %}

{% load bootstrap3 %}

{% load static %}

{% block bootstrap3_content %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="navbar-brand" href="{% url 'index' %}">
			  <img src="{% static 'dashboard/img/Header.png' %}" height="64" alt="Air Quality Chicago">
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                {% url 'about' as about_url %}
                <li class="nav-item {% if request.path == about_url %} active {% endif %}">
                    <a class="nav-link " href="{% url 'about' %}">About</a>
                </li>
                {% url 'locations' as locations_url %}
                <li class="nav-item {% if request.path == locations_url %} active {% endif %}">
                    <a class="nav-link " href="{% url 'locations' %}">Where We Monitor</a>
                </li>
                {% url 'results' as results_url %}
                <li class="nav-item {% if request.path == results_url %} active {% endif %}">
                    <a class="nav-link " href="{% url 'results' %}">Our Results</a>
                </li>
                {% url 'partners' as partners_url %}
                <li class="nav-item {% if request.path == partners_url %} active {% endif %}">
                    <a class="nav-link" href="{% url 'partners' %}">Our Partners</a>
                </li>
                {% url 'references' as references_url %}
                <li class="nav-item {% if request.path == references_url %} active {% endif %}">
                    <a class="nav-link" href="{% url 'references' %}">References</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Advanced <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% url 'mobile_sessions' as mobile_sessions_url %}
                            <li class="nav-item {% if request.path == mobile_sessions_url %} active {% endif %}">
                                <a class="nav-link" href="{% url 'mobile_sessions' %}">Mobile Sessions</a>
                            </li>
                            {% url 'data_values' as data_values_url %}
                            <li class="nav-item {% if request.path == data_values_url %} active {% endif %}">
                                <a class="nav-link" href="{% url 'data_values' %}">Data Values</a>
                            </li>
                            {% url 'data_averages' as data_averages_url %}
                            <li class="nav-item {% if request.path == data_averages_url %} active {% endif %}">
                                <a class="nav-link" href="{% url 'data_averages' %}">Data Averages</a>
                            </li>
                            {% url 'coverage' as coverage_url %}
                            <li class="nav-item {% if request.path == coverage_url %} active {% endif %}">
                                <a class="nav-link" href="{% url 'coverage' %}">Coverage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %} 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                {% endif %}
                
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
    
    <footer class="container" style="margin-top: 0;">
        <div class="row text-white bg-teal m-0">
            <div class="col-md-6" style="padding: 1em; overflow: auto;">
                <img src="{% static 'dashboard/img/ELPCWhiteText.png' %}" width="100%" alt="ELPC White Logo" style="float: left; max-width: 150px; height: auto; margin-right: 1em;, margin-bottom: 1em">
				<p> Air Quality Chicago is a project of the Environmental Law and Policy. </p>
                <p>To learn more about what ELPC is doing to advance environmental progress and climate change solutions visit us at <a class="text-white text-underline" href="http://elpc.org/">elpc.org</a>.</p>
				<p> For more updates follow @ELPCenter on social media!</p>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled text-small">
                    <li style="border-bottom: 1px solid white"><h4><em>Contact Us</em></h4></li>
                    <li></li>
                    <li>If you would like to know more about the monitoring program or get involved in our advocacy efforts, please contact <a class="text-white text-underline" href="mailto:twerner@elpc.org?Subject=Air%20Quality%20Chicago" target="_top">Tiffany Werner</a>.</li>
                    <li><br /></li>
                    <li>Air Quality Chicago's web design is made in partnership with <a class="text-white text-underline" href="http://elpc.org/">ELPC</a> and <a class="text-white text-underline" href="http://justdesign.coop/">JustDesign</a>.</li>
                </ul>
            </div>
        </div>
    </footer>
    
{% endblock %}
