{% extends 'dashboard/base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
{% endblock %}

{% block title %}Coverage -{% endblock %}

{% block content %}
    <div class="alert text-white" style="background-color: #31C0AA;" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>Select username from the “Users” window. Multiple usernames can be selected at once (using shift or ctrl keys). Then select a geographic boundary to view coverage of PM2.5 data by location.</p>
 
        <p>Once boundary type is selected, press “Map” and wait for the data to appear. Map data can be downloaded using the “Download” button. Map views can also be saved using the arrow key on the map.</p>
    </div>
    
    <form role="form" id="id_request" class="form-horizontal p-3"> <!!! method="post" !!!>
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons %}
            <button type="submit" id="id_submit" class="btn btn-primary">Map</button>
            <button type="reset" id="id_reset" class="btn btn-primary">Clear</button>
            <button type="button" id="id_download" class="btn btn-primary">Download</button>
        {% endbuttons %}
    </form>

    <div id="id_map">
    </div>
{% endblock %}


{% block bootstrap4_extra_script %}
    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
       integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
       crossorigin="">
    </script>
    
    <!-- leaflet easyPrint -->
    <script src=" https://cdn.rawgit.com/rowanwins/leaflet-easyPrint/gh-pages/dist/bundle.js">
    </script>
   
    <!-- leaflet omnivore -->
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
    
    <!-- leaflet spin -->
    <script src="https://cdn.rawgit.com/makinacorpus/Leaflet.Spin/gh-pages/spin/spin.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/makinacorpus/Leaflet.Spin/gh-pages/leaflet.spin.min.js" charset="utf-8"></script>
        
    <!-- json2csv -->
    <script src="https://cdn.rawgit.com/bsusensjackson/json2csv/fc8dad15/json2csv.min.js" charset="utf-8"></script>
    
    <!-- dashboard functions -->
    <script src="{% static 'dashboard/dashboard.js' %}"  type="text/javascript">
    </script>

    <script>
        /*----------------------------------------------------------------------------
          global vars setup
         *----------------------------------------------------------------------------*/    
        var geoType = geoTypes.NONE;
            
        var counts = [];
        var maxOpacity = 0.7;
        var minOpacity = 0.15;
        
        var csvData = [];
        
        /*----------------------------------------------------------------------------
          map setup
         *----------------------------------------------------------------------------*/
        var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';
        var accessToken = 'pk.eyJ1IjoiZHJ3YWhsIiwiYSI6ImNqOG9zN25nYTA3dG8ycXJzNGpqbmE3cTgifQ.mNd1sk4ymlt8lvZTwKADOA';
        
        // tile layers
        var streets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: attribution,
            id: 'mapbox.streets',
            accessToken: accessToken,
        });
        
        var light = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: attribution,
            id: 'mapbox.light',
            accessToken: accessToken,
        });
        
        // layer groups
        var geo = L.featureGroup([]);
        
        // map
        var map = L.map('id_map', {
            center: [41.8781, -87.6298],
            zoom: 13,
            preferCanvas: true,
            layers: [streets, geo],
        });
        
        // control layers
        var baseMaps = {
            "Streets": streets,
            "Light": light,
        };
        
        var overlayMaps = {
            "Geo": geo,
        };
        
        L.control.layers(baseMaps, overlayMaps).addTo(map);
        
        var printPlugin = L.easyPrint({
      		sizeModes: ['Current', 'A4Landscape', 'A4Portrait'],
      		filename: 'map',
      		exportOnly: true,
      		hideControlContainer: true
		}).addTo(map);
		
	    // legend       
	    var legend = L.control({position: 'bottomright'});

	    legend.onAdd = function(map) {
		    var div = L.DomUtil.create('div', 'info legend'),
			    labels = [],
			    from, to;
			
			var coverageLevels = [0.0, 0.2, 0.4, 0.6, 0.8];

		    for (var i = 0; i < coverageLevels.length; i++) {
			    from = coverageLevels[i];
			    to = coverageLevels[i + 1];
			    
			    labels.push(
				    '<i style="background:' + coverageColor + '; ' + 
				    'opacity:' + coverageLevels[i]*maxOpacity +'"></i> ' +
				    from + (to ? '–' + to : '+'));
		    }

		    div.innerHTML = labels.join('<br>');
		    return div;
	    };

	    legend.addTo(map);
        
        /*----------------------------------------------------------------------------
          document ready callback
         *----------------------------------------------------------------------------*/   
        $(document).ready(function() {
            //console.log("ready");
            getUsers(null, usersCallback);
            
            // disable checkboxes
            $("#id_all_users").prop('checked', false);
            $("#id_all_sessions").prop('checked', false);
            
            // disable download button
            $("#id_download").prop("disabled", true)
            
            // populate geo types
            for(var key in geoTypes.properties) {
                if(key == geoTypes.NONE) {
                    continue;
                }
                else {
                    $("#id_geo_type").append($("<option />").val(geoTypes.properties[key].value).text(geoTypes.properties[key].name));
                }
            }
        });
        
        /*----------------------------------------------------------------------------
          reset users select
         *----------------------------------------------------------------------------*/
        function resetUserSelect() {
            $("#id_users option").prop('selected', false);
            $("#id_users").prop('disabled', false);
        }

        /*----------------------------------------------------------------------------
          users data callback
         *----------------------------------------------------------------------------*/
        function usersCallback(data) {
            var users = JSON.parse(data['users'])
            //console.log(users);
            
            // populate user select
            for (i = 0; i < users.length; ++i) {
                $("#id_users").append($("<option />").val(users[i]['id']).text(users[i]['display']));
            }
        }
        
        /*----------------------------------------------------------------------------
          users select callback
         *----------------------------------------------------------------------------*/
        $("#id_users").change(function() {
        });
        
        /*----------------------------------------------------------------------------
          all users on change callback
         *----------------------------------------------------------------------------*/
        $("#id_all_users").change(function() {         
            // select all users, disable users input
            if(this.checked) {
                //console.log("checked");
                $("#id_users option").prop('selected', true);
                $("#id_users").prop('disabled', true);
            }
            // enable users input
            else {
                //console.log("unchecked");
                resetUserSelect();
            }
        })
        
        /*----------------------------------------------------------------------------
          submit callback
         *----------------------------------------------------------------------------*/ 
        $("#id_request").on('submit', function(e) {
            // prevent default form action
            e.preventDefault();
            
            var user_ids = getSelectedOptions("#id_users");
            
            // gets sessions, populate list
            getSessions({
                'user_ids': user_ids,
                }, sessionsCallback);
            
            // start spin
            map.spin(true);
        });
        
         /*----------------------------------------------------------------------------
          reset callback
         *----------------------------------------------------------------------------*/  
        $("#id_request").on('reset', function(e) {
            // prevent default form action
            e.preventDefault();
            
            geo.clearLayers();
            
            // disable download button
            $("#id_download").prop("disabled", true)
            
            resetUserSelect();
        });
        
        /*----------------------------------------------------------------------------
          download callback
         *----------------------------------------------------------------------------*/  
        $("#id_download").on('click', function(e) {            
            //console.log("download");
            
            // convert to csv and download
            csvConverter.convert(csvData);
        });
        
        /*----------------------------------------------------------------------------
          sessions data callback
         *----------------------------------------------------------------------------*/
        function sessionsCallback(data) {
            var sessions = JSON.parse(data['sessions'])
            //console.log(sessions);
            
            // iterate through sessions, get session ids
            var session_ids = [];
            for(i = 0; i < sessions.length; ++i) {
                session_ids.push(sessions[i]['id']);
            }
            
            // get streams with session ids       
            getStreams({
                'session_ids': session_ids,
                }, streamsCallback);
        }
        
        /*----------------------------------------------------------------------------
          streams data callback
         *----------------------------------------------------------------------------*/
        function streamsCallback(data) {
            var streams = JSON.parse(data['streams']);
            //console.log(streams);
            
            // iterate through streams, get stream ids
            var stream_ids = [];
            for(i = 0; i < streams.length; ++i) {
                // check for air quality sensor
                if(streams[i]['sensor_name'] == 'AirBeam-PM') {
                    stream_ids.push(streams[i]['id']);
                }
            }
            //console.log(stream_ids);
            
            // get geo type and boundaries
            geoType = parseInt($('#id_geo_type').val(), 10);
            
            // get counts
            getCounts({
                'stream_ids': stream_ids,
                'geo_type': geoTypes.properties[geoType].column,
                }, countsCallback);
        }
        
        /*----------------------------------------------------------------------------
          averages data callback
         *----------------------------------------------------------------------------*/
        function countsCallback(data) {
            counts = JSON.parse(data['counts']);
            //console.log(counts);
            
            // geo type callback
            var cb = geoTypes.properties[geoType].cb
            if(cb) {
                cb([], geoCallback);
            }
        }
        
        /*----------------------------------------------------------------------------
          geo data callback
         *----------------------------------------------------------------------------*/
        function geoCallback(data) {
            // check geo type
            var table = geoTypes.properties[geoType].table;
            var geo_data = JSON.parse(data[table]);
            //console.log(geo_data);
            
            geo.clearLayers();
            
            // reset csv data
            csvData = [];
            
            // get max count
            var data = Object.keys(counts).map(function(key) { return counts[key]; });
            var max_count = Math.max.apply(Math, data);
            //console.log(max_count);
            
            // add to list, draw neighborhoods
            for (i = 0; i < geo_data.length; ++i) {
                // check averages
                var pk = geo_data[i]['id'];
                var display = geo_data[i]['display'];
                var value = counts[pk];
                
                // fill color
                var color = '#fff';
                var opacity = 0.0;
                if(value != undefined) {
                    color = coverageColor;
                    opacity = minOpacity + (maxOpacity - minOpacity)*value/max_count;
                    
                    // add to csv data
                    csvData.push({'id': pk, 'boundary': display, 'value': value});
                }
                
                // skip default location (empty multipolygon)
                if(pk == defaultLoc) {
                    continue;
                }
                
                var multi_polygon = omnivore.wkt.parse(geo_data[i]['geo']);
                
                multi_polygon.setStyle({
                    fillColor: color,
                    fillOpacity: opacity,
                    color: '#444',
                    weight: 3,
                    opacity: 1.0,
                });
                
                // popup text
                if(value != undefined) {
                    var popup = "<table class=\"table table-bordered table-striped\"> \
                        <tr><th>Boundary</th><td>" + display + "</td></tr> \
                        <tr><th>Count</th><td>" + value.toFixed(0) + "</td></tr> \
                        </table>"
                    multi_polygon.bindPopup(popup)
                }
                
                geo.addLayer(multi_polygon);
            }
            
            // stop spin
            map.spin(false);
            
            // enable download button
            $("#id_download").prop("disabled", false)
            
            // fit map
            map.fitBounds(geo.getBounds());
        }
    </script>
{% endblock %}

