{% extends 'dashboard/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block bootstrap3_extra_head %}
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

    <div class="position-relative overflow-hidden text-center header-image" style="background-image: url({% static 'dashboard/img/SmokestackGradient.png' %});">
        <div>
            <h2 class="font-weight-normal text-white">Gathering block by block air quality data with community partners to improve respiratory health</h2>
            <a class="btn btn-primary" href="{% url 'about' %}">About</a>
        </div>
    </div>

{% endblock %}
