{% extends 'dashboard/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block bootstrap3_extra_head %}
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}"/>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden text-center header-image" style="background-image: url({% static 'dashboard/img/InternsRiver.jpg' %});">
    </div>
        
    <h2>Sampling Chicago's Air Quality to Improve Respiratory Health</h2>
    
    <div class="row">
        <div class="col-md-6">
			<h3></h3>
            <video style="margin: 0 auto; width: 100%" controls>
                <source src="{% static 'dashboard/img/AQ3D.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-md-6">
            <p><b>What is Air Quality Chicago?</b></p>
			<p>In a major transportation and economic hub like Chicago, air pollution comes from many sources, including vehicles, diesel equipment and construction sites. Some of the smallest pollutants, known as <a href="https://airqualitychicago.org/about/" rel="noopener noreferrer" target="_blank"> PM2.5</a>, are the most dangerous. They exacerbate asthma and other respiratory and heart ailments,  and are especially risky to children and the elderly. Until now it’s been hard to find any information on PM2.5 levels at the local neighborhood scale. Air Quality Chicago is working to change that. We aim to actively identify areas of the city with unhealthy air quality, educate and empower communities with their own data, and advocate for solutions to clean up the air for all Chicagoans.</p>
			<p><b>Who is involved?</b></p>
			<p>The  <a href="http://elpc.org/" rel="noopener noreferrer" target="_blank">Environmental Law and Policy Center</a> (ELPC) has partnered with a host of  <a href="https://airqualitychicago.org/partners/" rel="noopener noreferrer" target="_blank"> community members</a>, youth and volunteers. Together we empower communities to take part in the data collection process during the summer, using cutting-edge, hand-held <a href="http://www.takingspace.org/aircasting/airbeam/" rel="noopener noreferrer" target="_blank">AirBeam</a> monitors. We have over five million data points and counting!</p>
			<p><b>Learn More</b></p>
			<p>To see how your neighborhood stacks up click on the <a href="https://airqualitychicago.org/results/" rel="noopener noreferrer" target="_blank">Our Data tab above, or check out this video.</p>
        </div>
    </div>
             
{% endblock %}

{% block bootstrap3_extra_script %}

{% endblock %}
