{% extends 'dashboard/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block bootstrap3_extra_head %}
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}"/>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden text-center header-image" style="background-image: url({% static 'dashboard/img/PilsenAQPhoto.png' %});">
        <div>
            <h2 class="font-weight-normal text-white outline" style="font-weight: bold">Gathering block by block air quality data with community partners to improve respiratory health</h2>
            <a class="btn btn-primary" href="{% url 'about' %}">About</a>
        </div>
    </div>
        
    <h3>Sampling Chicago's Air Quality</h3>
    
    <div class="row">
        <div class="col-md-8">
            <video style="margin: 0 auto; width: 100%" controls>
                <source src="{% static 'dashboard/img/AQ3D.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-md-4">
            <p>The Environmental Law & Policy Center (ELPC) is a public interest environmental legal advocacy and eco-business innovation organization. One of ELPC's area of focus is on lowering exposure to airborne particulate matter pollution that can pose a serious threat to respiratory health. Due to lack of public information on neighborhood-level particulate matter levels, our Air Quality Program is a bold civic engagement initiative that brings Chicago residents from areas at high risk for poor air quality to the table to gather and understand data and discuss ways to improve air quality and health. </p>
			<p>ELPC and our community partners are collecting particulate matter data with handheld AirBeam monitors, created by the Brooklyn-based nonprofit HabitatMap. Since 2017, ELPC alongside our partners and volunteers have been walking routes to systematically collect data around Chicago neighborhoods and business corridors. This video illustrates our  monitoring progress while showing the percent of unhealthy monitor readings we have encountered thus far. The more red the color, the higher the percent of unhealthy measurements in that area. The HEIGHT of the data illustrates the number of measurements collected in that area. So, the TALLER, redder columns are where we can say with some certainty that air quality is poor.</p>
        </div>
    </div>
             
{% endblock %}

{% block bootstrap3_extra_script %}

{% endblock %}
