{% extends 'dashboard/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block bootstrap3_extra_head %}    
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}"/>
{% endblock %}

{% block title %}Where We Monitor -{% endblock %}

{% block content %}    
    <h3>Our Coverage</h3>
    <div class="alert text-white bg-teal" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>ELPC has been partnerning and collecting data with youth and community groups across the city of Chicago to create a  picture of what air quality looks like, block by block. Explore the map below to view our monitoring coverage to date.</p>
        
        <p>Our goal is to continue to fill in the in the Chicago air quality picture. If you notice a lack of monitoring coverage in your area and would like to know more about our program or get involved, please contact <a class="text-white text-underline" href="mailto:twerner@elpc.org?Subject=Air%20Quality%20Chicago" target="_top">Tiffany Werner</a>.</p>
    </div>
    
    <div id="id_map">
    </div>
    
    <div id="last_updated">
    </div>
{% endblock %}

{% block bootstrap3_extra_script %}
    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
       integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
       crossorigin="">
    </script>
    
    <!-- leaflet easyPrint -->
    <script src="https://cdn.jsdelivr.net/gh/rowanwins/leaflet-easyPrint@gh-pages/dist/bundle.js">
    </script>
   
    <!-- leaflet omnivore -->
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
    
    <!-- leaflet spin -->
    <script src="https://cdn.jsdelivr.net/gh/makinacorpus/Leaflet.Spin@gh-pages/spin/spin.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/gh/makinacorpus/Leaflet.Spin@gh-pages/leaflet.spin.min.js" charset="utf-8"></script>
    
    <!-- json2csv -->
    <script src="https://cdn.jsdelivr.net/gh/justdesigncoop/json2csv@master/json2csv.min.js" charset="utf-8"></script>
    
    <!-- dashboard functions -->
    <script src="{% static 'dashboard/dashboard.js' %}"  type="text/javascript">
    </script>
    
    <!-- jquery cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script>
        /*----------------------------------------------------------------------------
          global vars setup
         *----------------------------------------------------------------------------*/    
        var csvData = [];
        
	    /*----------------------------------------------------------------------------
          color map from color brewer
         *----------------------------------------------------------------------------*/
        function countColors(value) {
            if(value < countLevels[1]) {
                return '#bdc9e1';
            }
            else if(value < countLevels[2]) {
                return '#67a9cf';
            }
            else if(value < countLevels[3]) {
                return '#02818a';
            }
            else {
                return '#016c59';
            }
        }
        
        /*----------------------------------------------------------------------------
          map setup
         *----------------------------------------------------------------------------*/
        // tile layers
        var streets = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}{r}.{ext}', {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            subdomains: 'abcd',
            minZoom: 0,
            maxZoom: 18,
            ext: 'png'
        });

        var light = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            subdomains: 'abcd',
            minZoom: 0,
            maxZoom: 20,
            ext: 'png'
        });
        
        // layer groups
        var layerGroup = L.featureGroup([]);
        
        // map
        var map = L.map('id_map', {
            center: [41.8781, -87.6298],
            zoom: 13,
            maxZoom: 17,
            minZoom: 11,
            preferCanvas: true,
            layers: [light, layerGroup],
        });
        
        // control layers
        var baseMaps = {
            "Color": streets,
            "Greyscale": light,
        };
        
        var overlayMaps = {
            "Locations": layerGroup,
        };
        
        L.control.layers(baseMaps, overlayMaps).addTo(map);
        
        var printPlugin = L.easyPrint({
      		sizeModes: ['Current', 'A4Landscape', 'A4Portrait'],
      		filename: 'map',
      		exportOnly: true,
      		hideControlContainer: true
		}).addTo(map);
		
	    // legend       
	    var legend = L.control({position: 'bottomright'});

	    legend.onAdd = function(map) {
		    var div = L.DomUtil.create('div', 'info legend');

		    div.innerHTML = getLegend("Measurements", countLevels, countColors);
		    
		    return div;
	    };

	    legend.addTo(map);
	    
        /*----------------------------------------------------------------------------
          document ready callback
         *----------------------------------------------------------------------------*/   
        $(document).ready(function() {
            //console.log("ready");
            
            lastUpdated(null, function(data) {
                //console.log(data);
                
                // process date and time
				var dt = data['last_updated'].split("T");
				dt[1] = dt[1].replace("Z", "");
                
                $('#last_updated').html("<p>This map was last updated on " + dt[0] + " at " + dt[1] + ". Click <a id='id_download' href='javascript:void(0)' onclick='csvConverter.convert(csvData)'>here</a> to download the data.</p>");
            });
            
            // get data
            //$.getJSON("{% static 'dashboard/data.json' %}", geoCallback);
            getHexagons({
                'min_counts': 1,
                }, hexagonsCallback);
            
            // start spin
            map.spin(true);
        });
        
        /*----------------------------------------------------------------------------
          geo data callback
         *----------------------------------------------------------------------------*/
        function hexagonsCallback(data) {
            //console.log(data)
            var hexagons = JSON.parse(data['hexagons']);
            //console.log(hexagons);
            
            layerGroup.clearLayers();
            
            // reset csv data
            csvData = [];
            
            // draw hexagons
            for (i = 0; i < hexagons.length; ++i) {
                var id = hexagons[i]['id'];
                var geo = hexagons[i]['geo'];
                var counts = hexagons[i]['counts'];
                
                // skip default location (empty multipolygon)
                if(id == defaultLoc) {
                    continue;
                }     
                          
                // add to csv data
                csvData.push({
                    'id': id,
                    'geo': geo,
                    'measurements': counts,
                    });
                
                // fill color
                color = countColors(hexagons[i]['counts']);
                opacity = maxOpacity;
                
                var multi_polygon = omnivore.wkt.parse(geo);
                
                multi_polygon.setStyle({
                    fillColor: color,
                    fillOpacity: opacity,
                    color: '#000',
                    weight: 0,
                    opacity: 0,
                });
                
                // popup text
                var popup = "<table class=\"table table-bordered table-striped\"> \
                    <tr><th>Measurements</th><td>" + counts.toFixed(0) + "</td></tr> \
                    </table>"
                multi_polygon.bindPopup(popup)
                
                layerGroup.addLayer(multi_polygon);
            }
            
            // stop spin
            map.spin(false);
        }
    </script>
{% endblock %}
