{% extends 'dashboard/base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
{% endblock %}

{% block content %}
    <form role="form" id="id_request" class="form-horizontal""> <!!! method="post" !!!>
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons %}
            <button type="submit" id="id_submit" class="btn btn-primary">Map</button>
            <button type="reset" id="id_reset" class="btn btn-primary">Clear</button>
            <button type="button" id="id_download" class="btn btn-primary">Download</button>
        {% endbuttons %}
    </form>

    <div id="id_map">
    </div>
{% endblock %}


{% block bootstrap4_extra_script %}
    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
       integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
       crossorigin="">
    </script>
    
    <!-- leaflet easyPrint -->
    <script src=" https://cdn.rawgit.com/rowanwins/leaflet-easyPrint/gh-pages/dist/bundle.js">
    </script>
    
    <!-- leaflet spin -->
    <script src="https://cdn.rawgit.com/makinacorpus/Leaflet.Spin/gh-pages/spin/spin.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/makinacorpus/Leaflet.Spin/gh-pages/leaflet.spin.min.js" charset="utf-8"></script>
    
    <!-- json2csv -->
    <script src="https://cdn.rawgit.com/bsusensjackson/json2csv/fc8dad15/json2csv.min.js" charset="utf-8"></script>
    
    <!-- dashboard functions -->
    <script src="{% static 'dashboard/dashboard.js' %}"  type="text/javascript">
    </script>

    <script>
        /*----------------------------------------------------------------------------
          global vars setup
         *----------------------------------------------------------------------------*/      
        var keywordsTimeout;
        var keywordsList;
        resetKeywords();
        
        var userIds;
        resetUserSelect();
        
        resetSessionSelect();
        
        var csvData = [];
        
        /*----------------------------------------------------------------------------
          map setup
         *----------------------------------------------------------------------------*/
        var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';
        var accessToken = 'pk.eyJ1IjoiZHJ3YWhsIiwiYSI6ImNqOG9zN25nYTA3dG8ycXJzNGpqbmE3cTgifQ.mNd1sk4ymlt8lvZTwKADOA';
        
        // tile layers
        var streets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: attribution,
            id: 'mapbox.streets',
            accessToken: accessToken,
        });
        
        var light = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: attribution,
            id: 'mapbox.light',
            accessToken: accessToken,
        });
        
        // marker layer(s)
        var markers = L.layerGroup([]);
        
        // map
        var map = L.map('id_map', {
            center: [41.8781, -87.6298],
            zoom: 13,
            preferCanvas: true,
            layers: [streets, markers],
        });
        
        // control layers
        var baseMaps = {
            "Streets": streets,
            "Light": light,
        };
        
        var overlayMaps = {
            "Markers": markers,
        };
        
        L.control.layers(baseMaps, overlayMaps).addTo(map);
        
        var printPlugin = L.easyPrint({
      		sizeModes: ['Current', 'A4Landscape', 'A4Portrait'],
      		filename: 'map',
      		exportOnly: true,
      		hideControlContainer: true
		}).addTo(map);
		
		// legend       
	    var legend = L.control({position: 'bottomright'});

	    legend.onAdd = function(map) {
		    var div = L.DomUtil.create('div', 'info legend'),
			    labels = [],
			    from, to;

		    for (var i = 0; i < pmLevels.length; i++) {
			    from = pmLevels[i];
			    to = pmLevels[i + 1];

			    labels.push(
				    '<i style="background:' + colorMap(from + 1) + '"></i> ' +
				    from + (to ? '–' + to : '+'));
		    }

		    div.innerHTML = labels.join('<br>');
		    return div;
	    };

	    legend.addTo(map);
        
        /*----------------------------------------------------------------------------
          document ready callback
         *----------------------------------------------------------------------------*/   
        $(document).ready(function() {
            //console.log("ready");
            getUsers(null, usersCallback);
            
            // disable checkboxes
            $("#id_all_users").prop('checked', false);
            $("#id_all_sessions").prop('checked', false);
            
            // disable download button
            $("#id_download").prop("disabled", true)
        });
        
        /*----------------------------------------------------------------------------
          reset users select
         *----------------------------------------------------------------------------*/
        function resetUserSelect() {
            $("#id_users option").prop('selected', false);
            $("#id_users").prop('disabled', false);
            userIds = [];
        }

        /*----------------------------------------------------------------------------
          users data callback
         *----------------------------------------------------------------------------*/
        function usersCallback(data) {
            var users = JSON.parse(data['users'])
            //console.log(users);
            
            // populate user select
            for (i = 0; i < users.length; ++i) {
                $("#id_users").append($("<option />").val(users[i]['fields']['id']).text(users[i]['pk']));
            }
        }
        
        /*----------------------------------------------------------------------------
          users select callback
         *----------------------------------------------------------------------------*/
        $("#id_users").change(function() {            
            userIds = getSelectedOptions("#id_users");
            //console.log(users);
            
            resetSessionSelect();
            
            // gets sessions, populate list
            getSessions({
                'user_ids': userIds,
                'keywords': keywordsList,
                }, sessionsCallback);
        });
        
        /*----------------------------------------------------------------------------
          all users on change callback
         *----------------------------------------------------------------------------*/
        $("#id_all_users").change(function() {
            resetSessionSelect();
            
            // select all users, disable users input
            if(this.checked) {
                //console.log("checked");
                $("#id_users option").prop('selected', true);
                $("#id_users").prop('disabled', true);
                
                // get list of options
                userIds = getSelectedOptions("#id_users");
                //console.log(users);
                
                // populate session data for all users
                getSessions({
                    'user_ids': userIds,
                    'keywords': keywordsList,
                    }, sessionsCallback);
            }
            // enable users input
            else {
                //console.log("unchecked");
                resetUserSelect();
            }
        });
        
        /*----------------------------------------------------------------------------
          reset keywords
         *----------------------------------------------------------------------------*/
        function resetKeywords() {
            $('#id_keywords').val('');
            keywordsTimeout = null;
            keywordsList = [''];
        }
        
        /*----------------------------------------------------------------------------
          keywords on input callback
         *----------------------------------------------------------------------------*/
        $("#id_keywords").on('input', function(e) {
            //console.log(e);
            
            // clear timeout
            clearTimeout(keywordsTimeout);
            
            // set new timeout
            keywordsTimeout = setTimeout(keywordsCallback, 500);
         });
         
        /*----------------------------------------------------------------------------
          keywords timeout callback
         *----------------------------------------------------------------------------*/
         function keywordsCallback() {
            //console.log("keywords callback");
            resetSessionSelect();
            
            // update keywords list
            var keywords = $("#id_keywords").val();
            keywordsList = keywords.split(' ');
            //console.log(keywordsList);

            // gets sessions, populate list
            getSessions({
                'user_ids': userIds,
                'keywords': keywordsList,
                }, sessionsCallback);
         }
        
        /*----------------------------------------------------------------------------
          reset session select
         *----------------------------------------------------------------------------*/
        function resetSessionSelect() {
            $("#id_sessions").empty();
            $("#id_sessions").prop('disabled', false);
            $("#id_all_sessions").prop('checked', false);
        }
        
        /*----------------------------------------------------------------------------
          sessions data callback
         *----------------------------------------------------------------------------*/
        function sessionsCallback(data) {
            var sessions = JSON.parse(data['sessions'])
            //console.log(sessions);
            
            // populate user select
            for (i = 0; i < sessions.length; ++i) {
                $("#id_sessions").append($("<option />").val(sessions[i]['pk']).text(sessions[i]['fields']['title']));
            }
        }
        
        /*----------------------------------------------------------------------------
          all sessions on change callback
         *----------------------------------------------------------------------------*/
        $("#id_all_sessions").change(function() {
            // disable sessions input
            if(this.checked) {
                //console.log("checked");
                $("#id_sessions option").prop('selected', true);
                $("#id_sessions").prop('disabled', true);
            }
            // enable sessions input
            else {
                //console.log("unchecked");
                $("#id_sessions option").prop('selected', false);
                $("#id_sessions").prop('disabled', false);
            }            
        });
        
        /*----------------------------------------------------------------------------
          submit callback
         *----------------------------------------------------------------------------*/  
        $("#id_request").on('submit', function(e) {
            // prevent default form action
            e.preventDefault();
            
            var session_ids = getSelectedOptions("#id_sessions");
            //console.log(session_ids);
            
            getStreams({
                'session_ids': session_ids,
                }, streamsCallback);
            
            // start spin
            map.spin(true);
        });
        
         /*----------------------------------------------------------------------------
          reset callback
         *----------------------------------------------------------------------------*/  
        $("#id_request").on('reset', function(e) {
            // prevent default form action
            e.preventDefault();
            
            resetUserSelect();
            resetKeywords();
            resetSessionSelect();
            markers.clearLayers();
            
            // disable download button
            $("#id_download").prop("disabled", true)
        });
        
        /*----------------------------------------------------------------------------
          download callback
         *----------------------------------------------------------------------------*/  
        $("#id_download").on('click', function(e) {            
            //console.log("download");
            
            // convert to csv and download
            csvConverter.convert(csvData);
        });
        
        /*----------------------------------------------------------------------------
          streams data callback
         *----------------------------------------------------------------------------*/
        function streamsCallback(data) {
            var streams = JSON.parse(data['streams']);
            //console.log(streams);
            
            // iterate through streams, get stream ids
            var stream_ids = [];
            for (i = 0; i < streams.length; ++i) {
                // check for air quality sensor
                if(streams[i]['fields']['sensor_name'] == 'AirBeam-PM') {
                    stream_ids.push(streams[i]['pk']);
                }
            }
            //console.log(stream_ids);
            
            // empty markers
            markers.clearLayers();
            
            getMeasurements({
                'stream_ids': stream_ids,
                }, measurementsCallback);
        }
        
        /*----------------------------------------------------------------------------
          map measurements
         *----------------------------------------------------------------------------*/
        function measurementsCallback(data) {
            var measurements = JSON.parse(data['measurements']);
            //console.log(measurements);
            
            // iterate through measurements, maps
            for (i = 0; i < measurements.length; ++i) {
                // circle properties
                var latlng = [measurements[i]['fields']['latitude'], measurements[i]['fields']['longitude']];
                //var intensity = measurements[i]['fields']['value']/150.0;
                var color = colorMap(measurements[i]['fields']['value']);
                
                // add to csv data
                csvData.push({
                    'id': measurements[i]['pk'],
                    'time': measurements[i]['fields']['time'],
                    'value': measurements[i]['fields']['value'],
                    'lat': measurements[i]['fields']['latitude'],
                    'lng': measurements[i]['fields']['longitude'],
                    });
                
                // draw markers
                var marker = L.circleMarker(latlng, {
                    stroke: false,
                    fillColor: color,
                    fillOpacity: 0.5,
                    radius: 5
                });
                
                // popup text  bgcolor=\"" + color + "\"
                popup = "<table class=\"table table-bordered table-striped\"> \
                    <tr><th>Date</th><td>" + measurements[i]['fields']['time'] + "</td></tr> \
                    <tr><th>Value</th><td>" + measurements[i]['fields']['value'].toFixed(2) + "</td></tr> \
                    <tr><th>Lat</th><td>" + measurements[i]['fields']['latitude'].toFixed(5) + "</td></tr> \
                    <tr><th>Lng</th><td>" + measurements[i]['fields']['longitude'].toFixed(5) + "</td></tr> \
                    </table>"
                
                // add to marker list
                markers.addLayer(marker.bindPopup(popup));
             }
             
             // stop spin
             map.spin(false);
             
            // enable download button
            $("#id_download").prop("disabled", false)
        }        
    </script>
{% endblock %}

