{% extends 'dashboard/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block bootstrap3_extra_head %}    
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}"/>
{% endblock %}

{% block title %}Our Partners -{% endblock %}

{% block content %}
    <h3>Our Partners</h3>
    <p>Data displayed on Air Quality Chicago is a collaborative effort of ELPC, public health allies, and community organizations. Our partners include:</p>
   
    <table class="table table-sm text-center partners">
        <tbody>
            <tr>
                <td><a href="https://experimentalstation.org/market/" title="61st Street Farmers Market"><img src="{% static 'dashboard/img/61stStreetFarmersMarket.jpg' %}"></img></a></td>
                <td><a href="https://www.facebook.com/GreenerSouthLoop/" title="Alliance for a Greener South Loop"><img src="{% static 'dashboard/img/AGreenerSouthLoop.png' %}"></img></a></td>
                <td><a href="https://experimentalstation.org/blackstone/" title="Blackstone Bicycle Works"><img src="{% static 'dashboard/img/BlackstoneBicycleWorks.jpg' %}"></img></a></td>
                <td><a href="http://cps.edu" title="Chicago Public Schools"><img src="{% static 'dashboard/img/ChicagoPublicSchools.jpg' %}"></img></a></td>
            </tr>
            <tr>
                <td><a href="http://cutcatscourier.com/" title="Cut Cats Courier"><img src="{% static 'dashboard/img/CutCatsCourier.png' %}"></img></a></td>
                <td><a href="https://delta-institute.org/" title="Delta Institute"><img src="{% static 'dashboard/img/Delta.png' %}"></img></a></td>
                <td><a href="http://elpc.org/" title="ELPC"><img src="{% static 'dashboard/img/ELPC.jpg' %}"></img></a></td>
                <td><a href="https://experimentalstation.org/" title="Experimental Station"><img src="{% static 'dashboard/img/ExperimentalStation.jpg' %}"></img></a></td>
            </tr>
            <tr>
                <td><a href="http://habitatmap.org/" title="Habitat Map"><img src="{% static 'dashboard/img/HabitatMap.png' %}"></img></a></td>
                <td><a href="http://justdesign.coop/" title="JustDesign Cooperative, LLC"><img src="{% static 'dashboard/img/JustDesign.png' %}"></img></a></td>
                <td><a href="https://www.fieldmuseum.org/science/research/area/keller-science-action-center" title="Keller Science Action Center"><img src="{% static 'dashboard/img/FieldMuseum.jpg' %}"></img></a></td>
                <td><a href="https://experimentalstation.org/linkup-overview/" title="LINK Up Illinois"><img src="{% static 'dashboard/img/LinkUpIllinois.jpg' %}"></img></a></td>

            </tr>
            <tr>
                <td><a href="http://lvejo.org/" title="LVEJO"><img src="{% static 'dashboard/img/LVEJO.PNG' %}"></img></a></td>
                <td><a href="https://www.mapscorps.org/" title="MAPSCorps"><img src="{% static 'dashboard/img/MapsCorps.jpg' %}"></img></a></td>
                <td><a href="https://www.msichicago.org/" title="Museum of Science and Industry"><img src="{% static 'dashboard/img/MSIlogo.jpg' %}"></img></a></td>
                <td><a href="http://www.patagonia.com/" title="Patagonia"><img src="{% static 'dashboard/img/Patagonia.jpg' %}"></img></a></td>

            </tr>
			<tr>
                <td><a href="http://www.peopleforcommunityrecovery.org/" title="People for Community Recovery"><img src="{% static 'dashboard/img/PCR.PNG' %}"></img></a></td>
                <td><a href="http://plantchicago.org/" title="Plant Chicago"><img src="{% static 'dashboard/img/PlantChicago.png' %}"></img></a></td>
                <td><a href="http://setaskforce.org/" title="Southeast Environmental Task Force"><img src="{% static 'dashboard/img/SETaskForce.jpg' %}"></img></a></td>

                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block bootstrap3_extra_script %}
{% endblock %}
