{% extends 'dashboard/base.html' %}
{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}    
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    
    <!-- dashboard css -->
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
{% endblock %}

{% block title %}Our Partners & Coverage -{% endblock %}

{% block content %}
    <h3>Our Partners</h3>
    <p>Data displayed on Air Quality Chicago is a collaborative effort of ELPC, public health allies, and community organizations. Our partners include:</p>
   
    <table class="table table-sm text-center partners">
        <tbody>
            <tr>
                <td><a href="https://experimentalstation.org/market/" title="61st Street Farmers Market"><img src="{% static 'dashboard/img/61stStreetFarmersMarket.jpg' %}"></img></a></td>
                <td><a href="https://www.facebook.com/GreenerSouthLoop/" title="Alliance for a Greener South Loop"><img src="{% static 'dashboard/img/AGreenerSouthLoop.png' %}"></img></a></td>
                <td><a href="https://experimentalstation.org/blackstone/" title="Blackstone Bicycle Works"><img src="{% static 'dashboard/img/BlackstoneBicycleWorks.jpg' %}"></img></a></td>
                <td><a href="http://cps.edu" title="Chicago Public Schools"><img src="{% static 'dashboard/img/ChicagoPublicSchools.jpg' %}"></img></a></td>
            </tr>
            <tr>
                <td><a href="http://cutcatscourier.com/" title="Cut Cats Courier"><img src="{% static 'dashboard/img/CutCatsCourier.png' %}"></img></a></td>
                <td><a href="https://delta-institute.org/" title="Delta Institute"><img src="{% static 'dashboard/img/DeltaInstitute.jpg' %}"></img></a></td>
                <td><a href="http://elpc.org/" title="ELPC"><img src="{% static 'dashboard/img/ELPC.jpg' %}"></img></a></td>
                <td><a href="https://experimentalstation.org/" title="Experimental Station"><img src="{% static 'dashboard/img/ExperimentalStation.jpg' %}"></img></a></td>
            </tr>
            <tr>
                <td><a href="http://habitatmap.org/" title="Habitat Map"><img src="{% static 'dashboard/img/HabitatMap.png' %}"></img></a></td>
                <td><a href="http://justdesigncoop.org/" title="JustDesign Cooperative, LLC"><img src="{% static 'dashboard/img/JustDesign.png' %}"></img></a></td>
                <td><a href="https://www.fieldmuseum.org/science/research/area/keller-science-action-center" title="Keller Science Action Center"><img src="{% static 'dashboard/img/FieldMuseum.jpg' %}"></img></a></td>
                <td><a href="https://experimentalstation.org/linkup-overview/" title="LINK Up Illinois"><img src="{% static 'dashboard/img/LinkUpIllinois.jpg' %}"></img></a></td>

            </tr>
            <tr>
                <td><a href="https://www.mapscorps.org/" title="MAPSCorps"><img src="{% static 'dashboard/img/MapsCorps.jpg' %}"></img></a></td>
                <td><a href="http://www.patagonia.com/" title="Patagonia"><img src="{% static 'dashboard/img/Patagonia.jpg' %}"></img></a></td>
                <td><a href="http://plantchicago.org/" title="Plant Chicago"><img src="{% static 'dashboard/img/PlantChicago.png' %}"></img></a></td>
                <td><a href="http://setaskforce.org/" title="Southeast Environmental Task Force"><img src="{% static 'dashboard/img/SETaskForce.jpg' %}"></img></a></td>
            </tr>
        </tbody>
    </table>
    
    <h3>Our Coverage</h3>
    
    <div id="id_map">
    </div>

    <h3>References</h3>
    
    <h5>Health/Behavioral</h5>
    <div class="list-group" style="margin-bottom: 20px;">
        <a href="https://data.cityofchicago.org/Health-Human-Services/Public-Health-Statistics-Asthma-hospitalizations-i/vazh-t57q" class="list-group-item list-group-item-action">City of Chicago data on Asthma Hospitalizations 2000-2011</a>
        <a href="http://www.sinai.org/sites/default/files/RHAMC_Asthma_in_Chicago_-_Final%20(8).pdf" class="list-group-item list-group-item-action">Study conducted by Mt Sinai Hospital and Respiratory Health Association about Asthma disparities in Chicago</a>
        <a href="http://cac.websitetesturl.com/wp-content/uploads/2014/05/Geographic-variability-in-Chicago.pdf" class="list-group-item list-group-item-action">A study on Childhood asthma in Chicago</a>
        <a href="http://www.cityofchicago.org/content/dam/city/depts/cdph/CDPH/Healthy%20Chicago/HC2.0Upd4152016.pdf" class="list-group-item list-group-item-action">Chicago information about Asthma and related health issues ( in the section preventing and controlling chronic disease)</a>
        <a href="http://www.scpr.org/news/2016/03/29/58878/pollution-near-preschools-is-impacting-nearly-10-0/" class="list-group-item list-group-item-action">Vulnerable populations: Daycares next to freeways in LA</a>
        <a href="http://www.nytimes.com/2015/09/25/upshot/the-connection-between-cleaner-air-and-longer-lives.html?_r=0" class="list-group-item list-group-item-action">Connection between cleaner air and longer lives</a>
        <a href="http://www.deq.state.or.us/aq/diesel/docs/DieselEffectsReport.pdf" class="list-group-item list-group-item-action">Concerns about Diesel Engine Exhaust, Oregon</a>
        <a href="http://www.erichmuehlegger.com/Working%20Papers/Herrnstadt_Muehlegger_Chicago_Crime.pdf" class="list-group-item list-group-item-action">Relating air pollution to criminal activity, Chicago</a>
        <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2528642/" class="list-group-item list-group-item-action">The effects of air pollution on the health of Children</a>
        <a href="http://ehp.niehs.nih.gov/chc-2014/" class="list-group-item list-group-item-action">Children’s health collection Disease outcomes and exposure 2014</a>
        <a href="http://ehp.niehs.nih.gov/chc-2015/" class="list-group-item list-group-item-action">Children’s health collection Disease outcomes and exposure 2015</a>
        <a href="http://nepis.epa.gov/Exe/ZyNET.exe/300055PV.TXT?ZyActionD=ZyDocument&Client=EPA&Index=1986+Thru+1990&Docs=&Query=&Time=&EndTime=&SearchMethod=1&TocRestrict=n&Toc=&TocEntry=&QField=&QFieldYear=&QFieldMonth=&QFieldDay=&IntQFieldOp=0&ExtQFieldOp=0&XmlQuery=&File=D%3A%5Czyfiles%5CIndex%20Data%5C86thru90%5CTxt%5C00000006%5C300055PV.txt&User=ANONYMOUS&Password=anonymous&SortMethod=h%7C-&MaximumDocuments=1&FuzzyDegree=0&ImageQuality=r75g8/r75g8/x150y150g16/i425&Display=p%7Cf&DefSeekPage=x&SearchBack=ZyActionL&Back=ZyActionS&BackDesc=Results%20page&MaximumPages=1&ZyEntry=1&SeekPage=x&ZyPURL" class="list-group-item list-group-item-action">USEPA Health Assessment for diesel engine exhaust</a>
        <a href="https://news.usc.edu/76761/las-environmental-success-story-cleaner-air-healthier-kids/" class="list-group-item list-group-item-action">Success study: Less diesel pollution leads to healthier lungs in LA</a>
        <a href="https://oehha.ca.gov/air/health-effects-diesel-exhaust" class="list-group-item list-group-item-action">Monserrat, Laurie. "Health Effects of Diesel Exhaust." OEHHA. N.p., 21 June 2016. 14 July 2017.</a>
        <a href="https://www.cityofchicago.org/content/dam/city/depts/cdph/CDPH/CDPHComHlthStatMiniDataFINAL4172015.pdf" class="list-group-item list-group-item-action">Hospital Discharge Data, Illinois Department of Public Health, 2011. Web. 21 June 2017.</a>
        <a href="https://aqs.epa.gov/aqsweb/documents/codetables/aqi_breakpoints.html" class="list-group-item list-group-item-action">EPA AQI Breakpoints</a>
        <a href="https://nccd.cdc.gov/500_Cities/rdPage.aspx?rdReport=DPH_500_Cities.InteractiveMap&islCategories=HLTHOUT&islMeasures=ARTHRITIS&islStates=46&rdRnd=16615" class="list-group-item list-group-item-action">Local Asthma and COPD data for top 500 cities in the United States</a>
    </div>
    
    <h5>Idling</h5>
    <div class="list-group" style="margin-bottom: 20px;">
        <a href="https://www.cityofchicago.org/city/en/depts/cdot/supp_info/doing_our_share_forcleanerairidlingreduction.html/" class="list-group-item list-group-item-action">City of Chicago Idling Reduction Ordinance</a>
        <a href="http://www.chicagotribune.com/lifestyles/health/ct-met-diesel-idling-20101121-story.html" class="list-group-item list-group-item-action">Lack of enforcement on diesel engine idling ordinance, Chicago</a>
    </div>
    
    <h5>Construction</h5>
    <div class="list-group" style="margin-bottom: 20px;">
        <a href="http://facilities.columbia.edu/dieselemissions" class="list-group-item list-group-item-action">Columbia University monitoring Diesel Pollution during construction</a>
        <a href="https://www.cityofchicago.org/city/en/progs/env/clean-diesel.html" class="list-group-item list-group-item-action">City of Chicago Clean Diesel Construction Ordinance</a>
        <a href="http://www.triplepundit.com/2015/10/portlands-clean-diesel-initiative-builds-new-specs-green-construction/" class="list-group-item list-group-item-action">Clean Diesel Initiative, Portland</a>
    </div>
    
    <h5>Data</h5>
    <div class="list-group" style="margin-bottom: 20px;">
        <a href="http://usceh.blogspot.com/2016/02/airpollutionobesity.html" class="list-group-item list-group-item-action">Study relating PM2.5 exposure to obesity and Diabetes</a>
        <a href="http://www.chicagohealthatlas.org/map/chronic_disease_asthma#/?year=2006" class="list-group-item list-group-item-action">Chicago Statistic mapper (Chronic diseases)</a>
        <a href="http://www.takingspace.org/aircasting/airbeam/" class="list-group-item list-group-item-action">Airbeam Air Monitor</a>
    </div>
    
{% endblock %}


{% block bootstrap4_extra_script %}
    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
       integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
       crossorigin="">
    </script>
    
    <!-- leaflet easyPrint -->
    <script src=" https://cdn.rawgit.com/rowanwins/leaflet-easyPrint/gh-pages/dist/bundle.js">
    </script>
    
    <!-- leaflet spin -->
    <script src="https://cdn.rawgit.com/makinacorpus/Leaflet.Spin/gh-pages/spin/spin.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/makinacorpus/Leaflet.Spin/gh-pages/leaflet.spin.min.js" charset="utf-8"></script>
    
    <!-- leaflet heat -->
    <script src="https://cdn.rawgit.com/Leaflet/Leaflet.heat/gh-pages/dist/leaflet-heat.js" charset="utf-8"></script>
    
    <!-- dashboard functions -->
    <script src="{% static 'dashboard/dashboard.js' %}"  type="text/javascript">
    </script>

    <script>
        /*----------------------------------------------------------------------------
          global vars setup
         *----------------------------------------------------------------------------*/    
        var sampleSize = 5000;
        
        /*----------------------------------------------------------------------------
          map setup
         *----------------------------------------------------------------------------*/
        var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';
        var accessToken = 'pk.eyJ1IjoiZHJ3YWhsIiwiYSI6ImNqOG9zN25nYTA3dG8ycXJzNGpqbmE3cTgifQ.mNd1sk4ymlt8lvZTwKADOA';
        
        // tile layers
        var streets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: attribution,
            id: 'mapbox.streets',
            accessToken: accessToken,
        });
        
        var light = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: attribution,
            id: 'mapbox.light',
            accessToken: accessToken,
        });
        
        // layer groups
        var geo = L.layerGroup([]);
        
        // map
        var map = L.map('id_map', {
            center: [41.8781, -87.6298],
            zoom: 11,
            maxZoom: 13,
            minZoom: 11,
            preferCanvas: true,
            layers: [streets, geo],
        });
        
        // control layers
        var baseMaps = {
            "Streets": streets,
            "Light": light,
        };
        
        var overlayMaps = {
            "Geo": geo,
        };
        
        L.control.layers(baseMaps, overlayMaps).addTo(map);
        
        var printPlugin = L.easyPrint({
      		sizeModes: ['Current', 'A4Landscape', 'A4Portrait'],
      		filename: 'map',
      		exportOnly: true,
      		hideControlContainer: true
		}).addTo(map);
        
        /*----------------------------------------------------------------------------
          document ready callback
         *----------------------------------------------------------------------------*/   
        $(document).ready(function() {
            //console.log("ready");
            
            // get measurements sample
            getMeasurements({
                'sample_size': sampleSize,
                }, measurementsCallback);
            
            // start spin
            map.spin(true);
        });
        
        /*----------------------------------------------------------------------------
          map measurements
         *----------------------------------------------------------------------------*/
        function measurementsCallback(data) {
            var measurements = JSON.parse(data['measurements']);
            //console.log(measurements);

            // iterate through measurements, maps
            var latlngs = [];
            for (i = 0; i < measurements.length; ++i) {
                // circle properties
                var latlng = [measurements[i]['latitude'], measurements[i]['longitude']];
                latlngs.push(latlng);
            }
            
            // create heat layer, add to geo layer
            var heat =  L.heatLayer(latlngs, {
                gradient: {0.4: '#fff', 1: coverageColor},
                maxZoom: 13,
                radius: 25,
                blur: 50,
            });
            geo.addLayer(heat);
            
            // stop spin
            map.spin(false);
        } 
    </script>
{% endblock %}
