/*----------------------------------------------------------------------------
  map styles
 *----------------------------------------------------------------------------*/ 
#id_map {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/*----------------------------------------------------------------------------
  sticky footer styles
 *----------------------------------------------------------------------------*/ 
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #31C0AA;
}

/*----------------------------------------------------------------------------
  page css
 *----------------------------------------------------------------------------*/ 
* {
  font-family: 'Montserrat', sans-serif;
}

body > .container {
  margin-top: 20px;
}

.text-underline {
    text-decoration: underline;
}

.partners img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:disabled {
    background-color: #FBB648;
    border-color: #FBB648;
}

.header-image {
    min-height: 320px; 
    background-size: cover;
    background-position: center;
}

.header-image > div {
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
}

