 .navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.text-white {
  color: white;
}

.bg-teal {
  background: #31C0AA;
}

.m-0 {
  margin: 0;
}

footer {
  margin-top: 0;
  max-width: 960px;
}

/*----------------------------------------------------------------------------
  map styles
 *----------------------------------------------------------------------------*/ 
#id_map {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/*----------------------------------------------------------------------------
  sticky footer styles
 *----------------------------------------------------------------------------*/ 
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}

/*----------------------------------------------------------------------------
  page css
 *----------------------------------------------------------------------------*/ 
* {
  font-family: 'Montserrat', sans-serif;
}

body > .container {
  margin-top: 20px;
  max-width: 960px;
}

.text-underline {
    text-decoration: underline;
}

.partners img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:disabled {
    background-color: #FBB648;
    border-color: #FBB648;
}

.header-image {
    display: table;
    height: 320px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.header-image > div {
    padding: 20px;
    width:100%;
    display: table-cell;
    vertical-align: middle;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    float: left;
}

.outline {
    text-shadow:
        -1px -1px 0 #444,
        1px -1px 0 #444,
        -1px 1px 0 #444,
        1px 1px 0 #444;
}

